@{
    ViewData["Title"] = "Система управления производством";
}

<div class="text-center">
    <h1 class="display-4">Система управления производством</h1>
    <p class="lead">Эффективное планирование и контроль производственных процессов</p>
</div>
